# Node modules
node_modules/
# Vite build output
dist/
# Local environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac OS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
